<p class="text-center smartPad footer">
    <span class="">
        <a href="https://2024.diewhenyoudie.org">
            Last Year's Site
        </a> &bull;
        <a href="/schedule">
            Schedule
        </a> &bull;
        <a href="/poems">
            Poems
        </a> &bull;
        <a href="/">
            Top
        </a>
    </span>
</p>