<!doctype html>
<html lang="en">

<%- include('partials/head.ejs',{title:'Home'}) %>

<style>
    #intro {
        background-color: rgb(78, 77, 78);
        width: 100%;
    }


    #signCard {
        background: url(dist/wes1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 140vw;

    }

    .divider {
        width: 90%;

        margin: auto;
    }


    .btn {
        width: 100%;

        margin: auto;
    }
</style>

<body>
    <%- include('partials/navbar.ejs') %>



    <section id="intro" class="py-5 mt-5">
        <div class="container my-4">
            <h1 class="text-center mb-4 text-light">Wesley BATES is Graduating!</h1>
            <div class="row g-4">
                <!-- Photo item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="dist/IMG_0900.PNG" class="card-img-top" alt="Photo 1" />
                    </div>
                </div>
                <!-- Repeat for more photos -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="dist/IMG_0901.PNG" class="card-img-top" alt="Photo 2" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="dist/IMG_0902.PNG" class="card-img-top" alt="Photo 3" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="dist/IMG_0904.PNG" class="card-img-top" alt="Photo 4" />
                    </div>
                </div>

                <!-- Add more images as needed -->
            </div>
        </div>
        <h1 class="text-center mb-4 text-light">Way to GO!</h1>

    </section>


    <section id="signCard" class="pt-5">
        <div class="container my-4">
            <h1 class="text-center my-4 py-5">Congratulations Wes!!</h1>


        </div>
    </section>


    <section id="carousel">

        <div class="container my-4">

            <div class="text-center">
                <a target="_blank" href="https://www.kudoboard.com/boards/fckiOmJp" class="btn btn-light my-5 py-5"
                    role="button">Please Sign Graduation Card</a>
            </div>

            <div class="row border-left border-secondary">

                <div class="col-sm-6 pt-4">
                    <h5 class="mb-4 pt-5 text-center">Graduation is on May 30th</h5>
                    <h5 class="mb-4 pt-5 text-center">Next Year Wes will begin studies at Utah State University</h5>
                    <h1 class="mb-4 text-center"><img src="dist/divider.png" class="divider"></h1>
                    <h5 class="mb-4 text-center">Open house from 11am-2pm on June 1st @ the Forest Glen Condo
                        clubhouse
                    </h5>
                     <h5 class="mb-4 text-center">2560 Elizabeth St, Salt Lake City, UT 84106
                    </h5>
                    <h1 class="mb-4 text-center"><img src="dist/divider.png" class="divider"></h1>
                    <h5 class="mb-4 text-center">Please RSVP to Danny or Josalyn if you are coming to the open house
                    </h5>
                    <h1 class="mb-4 text-center"><img src="dist/divider.png" class="divider"></h1>
                    <h5 class="mb-4 text-center">Dont Forget to sign the graduation card</h5>

                </div>

                <div class="col-sm-6 d-flex align-items-center">



                    <div class="container my-4">


                        <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- First slide -->
                                <div class="carousel-item active">
                                    <img src="dist/IMG_0908.PNG" class="d-block w-100" alt="Slide 1" />
                                </div>
                                <!-- Second slide -->
                                <div class="carousel-item">
                                    <img src="dist/IMG_0903.PNG" class="d-block w-100" alt="Slide 2" />
                                </div>
                                <!-- Third slide -->
                                <div class="carousel-item">
                                    <img src="dist/IMG_0905.PNG" class="d-block w-100" alt="Slide 3" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0907.PNG" class="d-block w-100" alt="Slide 4" />
                                </div>

                                <div class="carousel-item">
                                    <img src="dist/IMG_0911.PNG" class="d-block w-100" alt="Slide 5" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0912.PNG" class="d-block w-100" alt="Slide 6" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0917.PNG" class="d-block w-100" alt="Slide 7" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0918.PNG" class="d-block w-100" alt="Slide 8" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0919.PNG" class="d-block w-100" alt="Slide 9" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0920.PNG" class="d-block w-100" alt="Slide 10" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0921.PNG" class="d-block w-100" alt="Slide 11" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0922.PNG" class="d-block w-100" alt="Slide 12" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0923.PNG" class="d-block w-100" alt="Slide 13" />
                                </div>
                                <div class="carousel-item">
                                    <img src="dist/IMG_0924.PNG" class="d-block w-100" alt="Slide 14" />
                                </div>
                            </div>

                            <!-- Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>

                            <!-- Indicators -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="5"
                                    aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="6"
                                    aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="7"
                                    aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="8"
                                    aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="9"
                                    aria-label="Slide 10"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="10"
                                    aria-label="Slide 11"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="11"
                                    aria-label="Slide 12"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="12"
                                    aria-label="Slide 13"></button>
                                <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="13"
                                    aria-label="Slide 14"></button>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>


    </section>

    <section id="buttonSign">
        <div class="container my-4">

            <div class="text-center">
                <a target="_blank" href="https://www.kudoboard.com/boards/fckiOmJp" class="btn btn-light my-5 py-5"
                    role="button">Please Sign Graduation Card</a>
            </div>
        </div>
    </section>




    <%- include('partials/footer.ejs') %>
</body>

</html>