    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/"><img src="favicon.png" /></a>

            <!-- Toggle button for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links with dropdown -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Regular nav item -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#signCard">Congrats</a>
                    </li>

                   
                    <!-- Regular nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#carousel">Details</a>
                    </li>

                    <!-- Regular nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.kudoboard.com/boards/fckiOmJp" target="_blank">Sign Card</a>
                    </li>
                </ul>

                <!-- Right-aligned items -->
      
            </div>
        </div>
    </nav>


  