<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'Die -'}) %>

<body>

    <%- include('partials/navbar.ejs') %>

    <!-- START: Body Content -->
    <section class="ezy__header12_Z7uFrNOw">
        <div>

            <div class="container position-relative pt-3">
                <div class="row align-items-end">
                    <div class="col-lg-6 pe-xl-5 text-center text-lg-start ezy__header12_Z7uFrNOw-content">
                        <p class="ezy__header12_Z7uFrNOw-heading mb-1">life is preparation for</p>
                        <p class="mb-4 display-1 fw-bold pb-4">DEATH</p>

                        <p class="ezy__header12_Z7uFrNOw-heading mb-1 pt-5">summer is preparation for</p>
                        <p class="mb-4 display-1 fw-bold">DIE WHEN YOU DIE</p>


                    </div>

                </div>

                <div class="row align-items-center pt-5 mt-5">
                    <div class="col-lg-12 text-center display-4 py-4 my-4">Life was never worth living</div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="WTF" class="ezy__service7_NIIvmGZd">
        <div class="container">
            <div class="row justify-content-center mb-0 mb-md-4 navbar-brand pt-5">
                <div class="col-lg-6 text-center">
                    <h2 class="ezy__service7_NIIvmGZd-heading mb-4">To Live is to Die</h2>
                    <p class="ezy__service7_NIIvmGZd-sub-heading mb-4">Since we were born, it was stalking. As we grew,
                        it was lurking. As we aged, it became stronger. The emptiness of the void, the expanse of the
                        cold. We won't escape its bite, but why would we want to.</p>
                </div>
            </div>
            <div class="row ezy__service7_NIIvmGZd-card">
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex p-xl-4 mt-5">

                        <div>
                            <h4 class="ezy__service7_NIIvmGZd-title fs-4 mb-3">The Rich</h4>
                            <p class="ezy__service7_NIIvmGZd-content mb-0"><img src="/dist/img/TheRich.png"
                                    width="100%"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="d-flex p-xl-4">

                        <div>
                            <h4 class="ezy__service7_NIIvmGZd-title fs-4 mb-3">The Happy</h4>
                            <p class="ezy__service7_NIIvmGZd-content mb-0"><img src="/dist/img/TheHappy.jpg"
                                    width="100%"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="d-flex p-xl-4">

                        <div>
                            <h4 class="ezy__service7_NIIvmGZd-title fs-4 mb-3">The Poor</h4>
                            <p class="ezy__service7_NIIvmGZd-content mb-0"><img src="/dist/img/ThePoor.jpeg"
                                    width="100%"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="d-flex p-xl-4">

                        <div>
                            <h4 class="ezy__service7_NIIvmGZd-title fs-4 mb-3">The Sad</h4>
                            <p class="ezy__service7_NIIvmGZd-content mb-0"><img src="/dist/img/TheSad2.jpg"
                                    width="100%"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="d-flex p-xl-4">

                        <div>
                            <h4 class="ezy__service7_NIIvmGZd-title fs-4 mb-3">The Proud</h4>
                            <p class="ezy__service7_NIIvmGZd-content mb-0"><img src="/dist/img/TheProud.jpg"
                                    width="100%"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="d-flex p-xl-4">

                        <div>
                            <h4 class="ezy__service7_NIIvmGZd-title fs-4 mb-3">The Humble</h4>
                            <p class="ezy__service7_NIIvmGZd-content mb-0"><img src="/dist/img/theHumble.jpg"
                                    width="100%"></p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-0 mb-md-4">
                    <div class="col-lg-6 text-center">

                        <p class="ezy__service7_NIIvmGZd-sub-heading mt-4 pt-4">
                            Only Death unites us in its infinite and perfect silence</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="FAQ" class="ezy__faq18_0khynKak">
        <div class="container">
            <div class="row justify-content-center mb-md-4 pt-5">
                <div class="col-lg-8 col-xl-7 text-center">
                    <h2 class="ezy__faq18_0khynKak-heading mb-3">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="ezy__faq18_0khynKak-title mt-4 mt-md-5">What the fuck is this?</h5>

                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-1" role="button" aria-expanded="true"
                            aria-controls="ezy-faq18-collapse-1">
                            <span>What do we do at this event?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse show" id="ezy-faq18-collapse-1">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    As if you ever really cared? Everyone is busy shopping, scrolling through instagram,
                                    working, eating, sleeping. But while you waste your life, every minute and every
                                    second the clock keeps ticking. The same tick tock that will continue for ever and
                                    ever long after your heart has stopped beating and all those important pictures and
                                    engagements are long gone and over. Nobody will remember. Eventually you will be a
                                    memory of a memory.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-2" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-2">
                            <span>No really what is this?</span>

                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-2">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    Hopeless people that understand the futility and emptiness of their existence will
                                    get together in the darkness, and maybe be able to draw just a little bit of comfort
                                    from knowing that at least we suffer this way together.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-201" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-201">
                            <span>OK. But what do we do?</span>

                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-201">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    Bring a poem, or a song or a piece of art to share. Then as broken vulnerable people
                                    we will share what hurts us the most.
                                </p>
                            </div>
                        </div>
                    </div>

                    <h5 class="ezy__faq18_0khynKak-title mt-4 mt-md-5">When is this event</h5>

                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-3" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-3">
                            <span>When?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-3">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    November 9th 2024
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-4" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-4">
                            <span>Where?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-4">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    TBD
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h5 class="ezy__faq18_0khynKak-title mt-4 mt-md-5">General</h5>

                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-7" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-7">
                            <span>Will I die too?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-7">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    Most of you never really lived a day in your life anyway. Just plugging away like a
                                    zombie day in and day out. So does your death even really matter? But yes you will
                                    die too. The real question is will anyone notice or will anyone care?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-8" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-8">
                            <span>What is the point of life?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-8">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    Power, Sex and Money. Whoever has the biggest house with the nicest lawn wins.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-9" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-9">
                            <span>Does everyone hurt like this?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-9">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    Some of the dumber people dont.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ezy__faq18_0khynKak-item mt-4">
                        <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq18_0khynKak-btn-collapse"
                            data-bs-toggle="collapse" href="#ezy-faq18-collapse-10" role="button" aria-expanded="false"
                            aria-controls="ezy-faq18-collapse-10">
                            <span>Will the pain ever stop?</span>
                            <div class="ezy__faq18_0khynKak-icon">
                                <span class="fas fa-chevron-down"></span>
                            </div>
                        </a>
                        <div class="collapse" id="ezy-faq18-collapse-10">
                            <div class="ezy__faq18_0khynKak-content px-3 px-lg-4 pb-lg-4">
                                <p class="opacity-50 mb-0">
                                    At that moment lying alone in the dark when you close your eyes that one last time.
                                    There just for a fleeting moment you will find peace, Then instantly everything will
                                    be extinguished. But until then, struggle, pain, sorrow and despair is the burden
                                    you were born to bear.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-danger">
        <div class="container">
            <hr class="mb-5 border border-danger border-2 opacity-50">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <span class="fs-1">Die When You Die: 2024</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center pb-5">
                    <span class="fs-3 fw-bold">Metastasize your despair</span>
                </div>
            </div>
            <hr class="mb-5 border border-danger border-2 opacity-50">
        </div>
    </section>

    <section id="FuckOff" class="ezy__blog4_K9UTQbt5">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="ezy__blog4_K9UTQbt5-heading mb-3 mt-0">Your Life is Pathetic. But so are you!</h2>
                    <p class="ezy__blog4_K9UTQbt5-sub-heading px-lg-5 mb-4">
                        You thought you were so important. Why didn't they care when you went to Prom? When you graduated? When
                        you made the team? When you got that big promotion? When you had a child? When you bought your
                        house? Nobody really gives a fuck what you do with your life, so why do you?
                    </p>
                    <a href="/game.html" class="btn btn-warning ezy__blog4_K9UTQbt5-btn">Start Dying Sooner</a>
                </div>
            </div>

            <div class="row align-items-center mt-5">
                <div class="col-12 mb-4">
                    <article class="ezy__blog4_K9UTQbt5-featured-post">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <img src="/dist/img/WhattheF.png" alt="" class="img-fluid rounded-3" />
                            </div>
                            <div class="col-lg-5">
                                <div class="mt-4 mt-lg-0 ps-lg-4">
                                    <h4 class="ezy__blog4_K9UTQbt5-title mb-2">
                                        The Little Worm That Could
                                    </h4>
                                    <p class="ezy__blog4_K9UTQbt5-description mt-3 mb-4">
                                        Once upon a time, there was little worm that could. Not content with digging in
                                        the dirt and leaving slime on the pavement. The little worm wanted to be
                                        something, be bigger and important.
                                    </p>

                                    <p class="ezy__blog4_K9UTQbt5-description mt-3 mb-4">
                                        On one warm summer day, the little worm made his way to the top of the grass,
                                        and stretched out his little squirmy body so the entire length of his worminess
                                        was exposed in the sun. The little worm thought someone or something would see
                                        him and be impressed by his sight, pluck him from the garden and deliver him
                                        into the
                                        glory he deserved.
                                    </p>

                                    <p class="ezy__blog4_K9UTQbt5-description mt-3 mb-4">
                                        In a flash, before his little worm brain could comprehend what was
                                        happening. A bird dove from the heights of the sky, rocketing downward, grabbed
                                        the worm and gulped him up in one effortless bite.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>

    
    <%- include('partials/footer.ejs') %>


</body>

</html>