<style>
    .gallery-image {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin: 5px;
        height: 220px;
    }
</style>


<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{title:'About'}) %>

<body>
    <%- include('partials/navbar.ejs') %>
    <section class="pt-5">


        <div class="container">
            <h1 class="mt-2 py-5"><span class="fw-bold">CREATE</span><span class="fw-light">.culture</span></h1>
            <p>
                <span class="fw-bold">Your Task:</span> Contribute to the culture of E11 and build community by taking a
                puzzle piece and wearing it around your neck.

            <p>
                Whenever you find someone with a puzzle piece around their neck too, introduce yourself and ask any or
                all of these
                question to that person, and have that person ask the questions to you:
            </p>
            <ul class="fw-semibold">
                <li>What are you most proud of about yourself?</li>
                <li>What are your passions, and how do they influence your daily life?</li>
                <li>What do you regret most about your life?</li>
                <li>If you could change one thing in the world, what would it be?</li>
                <li>What does community and authentic connection to others mean to you?</li>
            </ul>

            <p>
                Once you are comfortable with your new connection and feel like you have made a new connection follow
                these steps.
                Take a picture of yourself and your new friend and follow these steps.
            </p>

            <ol>
                <li>Post the picture to this website: (This doesn't need to be done right away. It can be done when you get home and have wifi)
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <br />
                                <a href="https://e11-culture.org/upload">https://e11-culture.org/upload</a>
                                <br />
                                <img src="dist/QR-code.png" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    Make your way to the temple and find the puzzle holder and place your puzzle piece there. 
                </li>
                <li>
                    Try to fit the puzzle together with what ever other pieces are there. 
                </li>
                <li>
                    Do the steps above before the temple burns on Saturdy night. Then enjoy the temple burning and your contribution to it.
                </li>
                <li>
                    Any additional photos that you took can also be added to the site above
                </li>
            </ol>



            </p>
        </div>
    </section>



    <%- include('partials/footer.ejs') %>
</body>

</html>