<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'Cadaver'}) %>

<body>
    <section class="sectionTop">

        <div class="container smartPad">

            <div class="row smartPad">
                <div class="col-lg-2 py-2">

                </div>
                <div class="col-lg-4 py-2">

                </div>
                <div class="col-lg-4 py-2">
                    <p class="fw-bold smartSize-1">
                        CADAVER
                    </p>
                </div>
                <div class="col-lg-2 py-2">

                </div>

            </div>



            <div class="row smartPad">
                <div class="col-lg-2 py-2">

                </div>
                <div class="col-lg-4 py-2">
                    <img src="/dist/img/foot-cut.jpeg" style="width: 100%; max-width: 500px;">
                </div>
                <div class="col-lg-4 py-2 border-dark border-start border-3 leftAuto">


                    <p class="smartSize-3">
                        A tingle circulating through muscles
                    </p>
                    <p class="smartSize-3">

                        The breath of rot lingers in the air
                    </p>
                    <p class="smartSize-3">
                        She opens her cavernous tissues
                    </p>
                    <p class="smartSize-3">
                        Releasing a gale of putridness
                    </p>
                    <p class="smartSize-3">
                        The ages of envy and ego residing deep in the fleshy folds
                    </p>
                    <p class="smartSize-3">
                        A dull light, blandly comes through her eyes
                    </p>
                    <p class="smartSize-3">
                        Her narrow and pale lips stretch
                    </p>
                    <p class="smartSize-3">
                        Around the yellow tinged teeth
                    </p>
                    <p class="smartSize-3">
                        As peace settles on the dawning day
                    </p>
                    <p class="smartSize-3">
                        She prolongs her inhalations and exhalations
                    </p>
                    <p class="smartSize-3">
                        Revealing all that decomposes in the depths of her plotting
                    </p>
                    <p class="smartSize-3">
                        She caresses her snaking yellow strands
                    </p>
                    <p class="smartSize-3">
                        As the odor of decay exits through her nostrils
                    </p>
                    <p class="smartSize-3">
                        A struggle to breathe from a different angle
                    </p>
                    <p class="smartSize-3">
                        Attempting to evade the circulating stench
                    </p>
                    <p class="smartSize-3">
                        Of an earth bound cadaver
                    </p>
                    <p class="smartSize-3 text-end">
                        Adela Genoves
                    </p>
                </div>


                <div class="col-lg-2 py-2">

                </div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div>

    </section>
</body>

</html>