<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'Death Haiku'}) %>

<body>
    <section class="sectionTop">

        <div class="container smartPad">

            <div class="row smartPad">
                <div class="col-lg-2 py-2">


                </div>
                <div class="col-lg-8 py-2 text-center">
                    <p class="fw-bold smartSize-1">
                        Death Haiku
                    </p>
                </div>
                <div class="col-lg-2 py-2">

                </div>

            </div>



            <div class="row smartPad">
                <div class="col-lg-2 py-2">

                </div>

                <div class="col-lg-8 py-2 text-center fs-3">
                    Contemplating Death
                    <br>
                    The Perfect Meditation
                    <br>
                    Complete and Quiet
                </div>


                <div class="col-lg-2 py-2">

                </div>
            </div>

            <div class="row smartPad">
                <div class="col-lg-2 py-2">

                </div>

                <div class="col-lg-8 py-2 text-center">
                    <img class="border border-dark border-3" src="/dist/img/stopWorries.png" style="width: 50%; max-width: 500px;">
                </div>


                <div class="col-lg-2 py-2">

                </div>
            </div>


            <%- include('partials/footer.ejs') %>
        </div>

    </section>
</body>

</html>