<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'The Manifesto'}) %>

<body>
    <section class="sectionTop">

        <div class="container smartPad" style="height: 100%;">
            <div class="row smartPad">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <p class="fw-bold smartSize-1">
                        DEATH - A Manifesto
                    </p>
                    <p class="smartSize-3">
                        Everyone knows that there is no persistent self. No ego or soul that transcends time. Every
                        cell - every molecule in our body changes.
                    </p>
                    <p class="smartSize-3">
                        Our memories aren't reliable, our personalities aren't static.
                    </p>
                    <p class="smartSize-3">
                        In fact every day we die, and every day we are born.
                    </p>
                    <p class="smartSize-3">
                        But what we forget is that we don't ever stop changing, next year we will be someone different.
                        And in 20 years we will be unrecognizable from ourselves today.
                    </p>
                    <p class="smartSize-3">
                        The fact is we have no guarantee that we will even like the future version of ourselves. There
                        is no reason to believe that person will deserve our trust or our help!!
                    </p>
                    <p class="smartSize-3">
                        But we live our lives planning for that person. We save for retirement, we eat healthy, we
                        take care of our bodies. We put so much energy into helping that unkown person of the future,
                        while we sacrifice the person we are today.
                    </p>
                    <p class="smartSize-3">
                        The only thing we can have confidence in is who we are right now. We have no reason to delay
                        today's indulgences to make life better for the future's distant strangers. We have no
                        obligation to these unknowable people.
                    </p>
                    <p class="smartSize-3">
                        Today is what we should focus on. There is only THIS. There is only NOW! Today is the only
                        reality that we can be certain of.
                    </p>
                    <p class="smartSize-3">
                        FUCK THE PAST
                    </p>
                    <p class="smartSize-3">
                        FUCK THE FUTURE
                    </p>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div>

    </section>
</body>

</html>