<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs', {title:blogtitle}) %>

<body>

    <%- include('partials/navbar.ejs') %>

    <p class="'mt-5 pt-5">Need to add contents

    <%- include('partials/footer.ejs') %>


</body>

</html>