<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'Schedule'}) %>

<body>
    <section class="sectionTop">

        <div class="container smartPad" style="height: 100%;">
            <div class="row smartPad">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <p class="fw-bold smartSize-1">
                        ACTIVITIES
                    </p>
                    <p class="fw-bold smartSize-3">
                        6pm - Doors Open
                    </p>
                    <p class="fw-bold smartSize-3">
                        Dinner
                    </p>
                    <p class="fw-bold smartSize-3">
                        7pm Doors Sealed
                    </p>
                    <p class="fw-bold smartSize-3">
                        Opening Ceremony
                    </p>
                    <p class="fw-bold smartSize-3">
                        Blood Sacraments
                    </p>
                    <p class="fw-bold smartSize-3">
                        Poetry Reading
                    </p>
                    <p class="fw-bold smartSize-3">
                        Ecstatic Dancing
                    </p>
                    <p class="fw-bold smartSize-3">
                        Cuddle Puddle
                    </p>
                    <p class="fw-bold smartSize-3">
                        Doors Unsealed
                    </p>
                    <p class="fw-bold smartSize-3">
                        Ramen
                    </p>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div>

    </section>
</body>

</html>