<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'Schedule'}) %>

<body>
    <section class="sectionTop">

        <div class="container smartPad" style="height: 100%;">
            <div class="row smartPad">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 text-center">
                    <p class="fw-bold smartSize-1 text-center">
                        Events
                    </p>

                    <div class="container">
                        <div class="row">
                            <div class="col-2 my-custom-table-side">6pm</div>
                            <div class="col-10">doors open</div>

                        </div>
                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10">cocktails and snacks</div>

                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side">7:30pm</div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-bold">DOORS SEALED</div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-italic">opening ceremony</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-italic">sacraments</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-italic">voodoo</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background py-5">
                                <p></p>
                                <p></p>
                                <p></p>
                                <div class="fw-italic">poetry</div>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-italic">ecstatic dancing</div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-italic">cuddle puddle</div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-italic">fire</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side">midnight</div>
                            <div class="col-10 my-custom-table-background">
                                <div class="fw-bold">DOORS UNSEALED</div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10">ramen</div>

                        </div>
                        <div class="row">
                            <div class="col-2 my-custom-table-side"></div>
                            <div class="col-10">sleep over</div>

                        </div>

                    </div>


                </div>
                <div class="col-lg-3"></div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div>

    </section>
</body>

</html>